<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Anoma Drama Llama</title>
  </head>

  <body>
    <aside id="leftSide">
      <a href="/profile">Profile</a>
      <a href="/Llama">Llama</a>
      <a href="/bookmarks">Bookmars</a>
      <a href="/api/logout">Logout</a>
    </aside>
    <section id="mainSection">
      <header>
        <button>All Posts</button>
        <button>Your Journal</button>
        <button>Your moods</button>
      </header>
      <main>
        {{{body}}}
      </main>
    </section>
    <aside id="rightSide">
      <p>Your Drama Llama is comming soon...</p>
    </aside>
    <footer>
      <p>&copy; Andy Barringer, Alex Hall, Feliclare De Jesus, Maya Lynn Cohen</p>
    </footer>
  </body>

</html>
