<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anoma Drama Llama</title>
</head>
<body>
    <aside>
        <a href="/home">Home</a>
        <a href="/profile">Profile</a>
        <a href="#">Mood Tracker</a>
        <a href="/Llama">Llama</a>
        <a href="/bookmarks">Bookmars</a>
        <a href="/api/logout">Logout</a>
    </aside>
    <header>

    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>