<html>
  <head>
    <title>404 Not Found</title>
    <style>
      body { font-family: sans-serif; text-align: center; } h1 { font-size:
      3rem; margin-top: 3rem; } img { margin-top: 2rem; max-width: 100%; height:
      auto; } a { display: inline-block; margin-top: 2rem; padding: 1rem;
      background-color: #007bff; color: #fff; text-decoration: none;
      border-radius: 0.25rem; } a:hover { background-color: #0069d9; }
    </style>
  </head>
  <body>
    <h1>This is not the Llama you are looking for</h1>
    <a href="/">Return to Home Page</a>
    <img src="./images/404.jpg" alt="404 Llama" />

  </body>
</html>