<div>
  <div class="row">
    <div class="column">
      <aside class="nav">
        <a href="/"><h2>Home</h2></a>
        <a href="/posts"><h2>Journal</h2></a>
        <a href="/llama"><h2>My Llama</h2></a>
        <a href="/herd"><h2>The Herd</h2></a>
        <a href="/bookmarks"><h2>Bookmarked Entries</h2></a>
        <a href="/logout"><h2>Logout</h2></a>
      </aside>
    </div>

    <div class="column">
      <main class="journal">
        <form id="new-post-form">
          <textarea id="post-input" placeholder="how are you feeling today?"></textarea>
        </form>
        <button>woosaahh</button>
      </main>

      <main class="allPosts">
        <h2>drama from other llamas</h2>
        {{#each Posts}}
        <div class="post-box">
          <p id="username">{{User.username}}'s drama:</p>
          <p id="text">{{post}}</p>
          <p id="date">{{createdAt}}</p>
        </div>
        {{/each}}
      </main>
    </div>

    <div class="column">
      <aside class="avatar">
        <h2>{{username}}'s llama</h2>
      </aside>
    </div>
  </div>
</div>
  