<div>
  <div class="column">
    <div class="journalEntry">
      <form id="new-post-form">
        <h3>How are you feeling right now?</h3>
        <div class="row">
          {{> mood-wheel}}
        <textarea id="title-input" placeholder="Journal entry title"></textarea>
        <textarea
          id="post-input"
          placeholder="Let off some steam here!"></textarea>
        <button id="submit-post">Feed Llama</button></div>
    </form>
  </div>

  <div class="userPosts">
    <h2>Your Journal</h2>
      {{#each userPosts}}
      <div class="post-box">
        <p id="moodText">Mood: {{moodText}}</p>
        <p id="title">"{{title}}"</p>
        <p id="text">{{text}}</p>
        <p id="date">{{dateFormat createdAt}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="/js/journalEntry.js"></script>