<div>
  <div class="row">
    <div class="column">

      <main>

        <div id="colorSelect">
          <button id="backBtnn">&lt;</button>
          <img
            id="llamaImage"
            src="images/pixel-llamas/llama01.png"
            width="200"
          />
          <button id="forwardBttn">&gt;</button>
        </div>

        <div id="hatSelect">
          <button id="backBtnn">&lt;</button>
          <img id="hatImage" src="images/pixel-llamas/hat01.png" width="200" />
          <button id="forwardBttn">&gt;</button>
        </div>

      </main>

    </div>
  </div>
</div>