<div>
  <div class="row">
    <div class="column">

      <main class="llamaSelection">
        <button>&lt;</button>
        <img src="/public/images/pixel-llamas/llama-brown-02.png" width="200">
        <button>&gt;</button>
      </main>

    </div>
  </div>
</div>