<h1>Login</h1>

<form id="loginForm">
    <input type="text" id="loginEmail" placeholder="email">
    <input type="password" id="loginPassword" >
    <button>Login</button>
</form>

<div>
    <button>Create Account</button>
</div>

<script src="/js/login.js"></script>