<div class="loginBody">
  <div class="loginCard">
    <h1 class="loginHeader">Anoma Drama Llama</h1>

    <form class="loginForm" id="loginForm">
      <input
        type="text"
        class="loginEmail"
        id="loginEmail"
        placeholder="email"
      />
      <input
        type="password"
        class="loginPassword"
        id="loginPassword"
        placeholder="password"
      />
      <button class="loginBttn">Login</button>
    </form>

    <div id="signUpCard">
      <button id="signUpBttn">Create Account</button>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>