<div class="column">
  <div class="journal">
    <form id="new-post-form">
          <textarea id="post-input" placeholder="how are you feeling, right now?"></textarea>
        </form>
        <button>woosaahh</button>
  </div>

  <div class="allPosts">
        <h2>my mood tracker</h2>
        {{#each Moods}}
        
        {{/each}}
      </div>
    </div>
</div>