{{! Username }}
{{! mood tracker entry }}

{{! user's journal history }}
{{! mood history }}
{{! bookmarks }}
{{! comments }}

<div class="profileBoday">

  <div id="profileUsername"></div>

  <div id="moodTracker"></div>

  <div id="profileFeed"></div>

</div>