<div class="loginBody">
  <div class="loginCard">
    <h1 class="loginHeader">Create an Account</h1>

    <form class="loginForm">
      <input type="text" class="loginEmail" placeholder="email" />
      <input type="password" class="loginPassword" placeholder="password" />
      <button class="loginBttn">Sign Up</button>
    </form>

  </div>
</div>
<script src="/js/signup.js"></script>