<div class="loginBody">
  <div class="signupCard">
    <h1 class="loginHeader">Create an Account</h1>

    <form class="loginForm" id="signupForm">
      <input
        type="text"
        class="loginEmail"
        id="signupEmail"
        placeholder="email"
      />
      <input
        type="text"
        class="userName"
        id="signupUserName"
        placeholder="username"
      />
      <input
        type="password"
        class="loginPassword"
        id="signupPassword"
        placeholder="password"
      />
      <button class="loginBttn">Sign Up</button>
    </form>
    <div id="signUpCard">
      <button id="signUpBttn">Back To Login Page</button>
    </div>

  </div>
</div>

<div class="modal">
  <div id="journalModal">
    <p class="modal-content"></p>
  </div>
</div>

<script src="/js/signup.js"></script>