:root {
  --light: #eee0cb;
  --p1: #baa898;
  --p2: #839788;
}

* {
  box-sizing: border-box;
  margin: 0%;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  flex-wrap: wrap;
}

#baseSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#leftSide {
  display: flex;
  flex-direction: column;
  width: 50px;
  background-color: var(--light);
  padding-top: 10vh;
  position: fixed;
  height: 100%;
  z-index: 10;
}

#leftSide a {
  font-size: 20px;
  margin: 20px 30px;
  display: none;
}

#leftSide p {
  position: fixed;
  top: 0;
  width: 50px;
  font-size: 50px;
  text-align: center;
}

#leftSide:hover {
  width: 200px;
}

#leftSide:hover a {
  display: block;
}

#leftSide:hover p {
  display: none;
}

#mainSection {
  width: 100%;
  /* background-color: aqua; */
  margin-left: 50px;
  margin-right: 200px;
}

header {
  background-color: var(--p1);
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 50px;
  padding-right: 250px;
  z-index: 5;
}

header button {
  height: 50px;
  width: 120px;
}

main {
  position: relative;
  top: 10vh;
}

#rightSide {
  width: 200px;
  background-color: var(--light);
  position: fixed;
  right: 0;
  height: 100%;
  z-index: 10;
}

footer {
  height: 5vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding-right: 250px;
  left: 50px;
  background: var(--p2);
}

.loginBody {
  width: 100%;
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCard {
  border-radius: 8px;
  background-color: var(--p2);
  width: 40vmin;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupCard {
  border-radius: 8px;
  background-color: var(--p2);
  width: 40vmin;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginHeader {
  margin: 15px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  width: 100%;
}

.loginEmail,
.loginPassword,
.userName,
.loginBttn {
  margin: 8px;
}

.loginEmail,
.loginPassword,
.userName {
  width: 80%;
}

.loginBttn,
#signUpBttn {
  background-color: var(--light);
  border-radius: 12px;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border: 0;
  font-size: 16px;
}

#signUpCard {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.loginBttn:not(:disabled):hover,
.loginBttn:not(:disabled):focus,
#signUpBttn:not(:disabled):hover,
#signUpBttn:not(:disabled):focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.hide {
  display: none;
}

/* =============================Profile CSS=========================== */

#profileUsername {
  background: var(--p2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 3% 3% 0% 3%;
  min-height: 5vh;
  border-radius: 20px;
  text-align: center;
  width: 90%;
}

/* =================================================================== */

/* feli's CSS */
/* .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
} */

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  width: 100%;
}

.journal {
  background: var(--p2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 1% 1% 0% 1%;
  min-height: 15vh;
  border-radius: 10px;
  border-radius: 20px;
  width: 90%;
}

#post-input {
  border-radius: 5px;
  width: 100%;
  height: 5vh;
  resize: none;
}

.allPosts {
  border: solid 2px var(--p2);
  /* display: flex;
  flex-direction: column; */
  padding: 10px;
  margin: 1% 1% 1% 1%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  width: 90%;
}

.allPosts h2 {
  text-align: center;
}

/* =============== Llama Select ===================== */
#llamaSelect {
  display: flex;
  flex-direction: column;
  /* border: black solid 5px; */
}

#llamaCard {
  width: 400px;
  height: 450px;
  /* border: black solid 5px; */
  position: relative;
}

#llamaCard img {
  position: absolute;
}
/* ================================================== */
/* Mood Wheel */
#moodWheel {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 58vh;
  width: 58vh;
  background-color: var(--p1);
  border-radius: 50%;
}

#innerWheel {
  height: 50%;
  width: 50%;
  margin: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.moodMiddle {
  position: absolute;
  font-size: 5vh;
  border-radius: 50%;
  z-index: 5;
  cursor: pointer;
}

#Border {
  height: 58vh;
  width: 58vh;
  border: var(--light) 20px solid;
  border-radius: 50%;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#center {
  height: 60%;
  width: 60%;
  background-color: var(--light);
  border-radius: 50%;
}

#happy {
  top: -40%;
}

#sad {
  top: -32%;
  right: 5%;
}

#annoyed {
  top: -32%;
  left: 5%;
}

#embarrassed {
  top: -15%;
  right: -20%;
}

#tired {
  top: -15%;
  left: -20%;
}

#calm {
  top: 8%;
  right: -35%;
}

#Bored {
  top: 8%;
  left: -35%;
}

#disappointed {
  top: 35%;
  right: -40%;
}

#mischievous {
  bottom: -40%;
}

#angry {
  bottom: -32%;
  right: 5%;
}

#flirty {
  bottom: -32%;
  left: 5%;
}

#anxious {
  bottom: -15%;
  right: -20%;
}

#silly {
  bottom: -15%;
  left: -20%;
}

#scared {
  bottom: 12%;
  right: -35%;
}

#frustrated {
  bottom: 12%;
  left: -35%;
}

#shocked {
  top: 35%;
  left: -40%;
}

#colorWheel {
  height: 20%;
  width: 20%;
  position: absolute;
  top: -45%;
  left: 30%;
  -webkit-transform-origin: 50px 250px;
  -moz-transform-origin: 50px 250px;
  -ms-transform-origin: 50px 250px;
  -o-transform-origin: 50px 250px;
  transform-origin: 50px 250px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
#colorWheel span {
  position: absolute;
  border-style: solid;
  border-width: 28vh 5.6vh;
  box-sizing: border-box;
}

#colorWheel span.color01 {
  opacity: 30%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  border-color: #43b4cd transparent transparent transparent;
}

#colorWheel span.color02 {
  opacity: 30%;
  -webkit-transform: rotate(22.5deg);
  -moz-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
  -o-transform: rotate(22.5deg);
  transform: rotate(22.5deg);
  border-color: #479b79 transparent transparent transparent;
}

#colorWheel span.color03 {
  opacity: 30%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-color: #47c14d transparent transparent transparent;
}

#colorWheel span.color04 {
  opacity: 30%;
  -webkit-transform: rotate(67.5deg);
  -moz-transform: rotate(67.5deg);
  -ms-transform: rotate(67.5deg);
  -o-transform: rotate(67.5deg);
  transform: rotate(67.5deg);
  border-color: #a5e23b transparent transparent transparent;
}

#colorWheel span.color05 {
  opacity: 30%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  border-color: #e1f71e transparent transparent transparent;
}

#colorWheel span.color06 {
  opacity: 30%;
  -webkit-transform: rotate(112.5deg);
  -moz-transform: rotate(112.5deg);
  -ms-transform: rotate(112.5deg);
  -o-transform: rotate(112.5deg);
  transform: rotate(112.5deg);
  border-color: #baa72e transparent transparent transparent;
}

#colorWheel span.color07 {
  opacity: 30%;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  border-color: #9a621d transparent transparent transparent;
}

#colorWheel span.color08 {
  opacity: 30%;
  -webkit-transform: rotate(157.5deg);
  -moz-transform: rotate(157.5deg);
  -ms-transform: rotate(157.5deg);
  -o-transform: rotate(157.5deg);
  transform: rotate(157.5deg);
  border-color: #6c422a transparent transparent transparent;
}

#colorWheel span.color09 {
  opacity: 30%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  border-color: #662727 transparent transparent transparent;
}

#colorWheel span.color10 {
  opacity: 30%;
  -webkit-transform: rotate(202.5deg);
  -moz-transform: rotate(202.5deg);
  -ms-transform: rotate(202.5deg);
  -o-transform: rotate(202.5deg);
  transform: rotate(202.5deg);
  border-color: #9f2d5b transparent transparent transparent;
}

#colorWheel span.color11 {
  opacity: 30%;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  border-color: #9f2d7b transparent transparent transparent;
}

#colorWheel span.color12 {
  opacity: 30%;
  -webkit-transform: rotate(247.5deg);
  -moz-transform: rotate(247.5deg);
  -ms-transform: rotate(247.5deg);
  -o-transform: rotate(247.5deg);
  transform: rotate(247.5deg);
  border-color: #842d9f transparent transparent transparent;
}

#colorWheel span.color13 {
  opacity: 30%;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  border-color: #712d9f transparent transparent transparent;
}

#colorWheel span.color14 {
  opacity: 30%;
  -webkit-transform: rotate(292.5deg);
  -moz-transform: rotate(292.5deg);
  -ms-transform: rotate(292.5deg);
  -o-transform: rotate(292.5deg);
  transform: rotate(292.5deg);
  border-color: #4f2d9f transparent transparent transparent;
}

#colorWheel span.color15 {
  opacity: 30%;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  border-color: #2d319f transparent transparent transparent;
}

#colorWheel span.color16 {
  opacity: 30%;
  -webkit-transform: rotate(337.5deg);
  -moz-transform: rotate(337.5deg);
  -ms-transform: rotate(337.5deg);
  -o-transform: rotate(337.5deg);
  transform: rotate(337.5deg);
  border-color: #2d559f transparent transparent transparent;
}

.journal button {
  width: 20vw;
  align-self: center;
}
