:root {
  --light: #eee0cb;
  --p1: #8e8074;
  --p2: #839788;
}

* {
  box-sizing: border-box;
  margin: 0%;
  font-family: "Manrope", sans-serif;
  color: var(--p1);
}

/* ============================= main layout =========================== */

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(223, 221, 219);
}

#baseSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#leftSide {
  display: flex;
  flex-direction: column;
  width: 50px;
  background: rgb(238, 224, 203);
  background: linear-gradient(
    90deg,
    rgba(238, 224, 203, 1) 0%,
    rgba(243, 233, 218, 1) 65%
  );
  padding-top: 10vh;
  position: fixed;
  height: 100%;
  z-index: 10;
  box-shadow: 1px 1px 5px rgba(74, 74, 73, 0.81);
}

#leftSide a {
  font-size: 20px;
  margin: 20px 30px;
  display: none;
  font-weight: bold;
  color: var(--p1);
}

#leftSide p {
  position: fixed;
  top: 0;
  width: 50px;
  font-size: 50px;
  text-align: center;
  color: var(--p1);
}

#leftSide a:hover {
  font-size: 25px;
}

#leftSide:hover,
#leftSide:active {
  width: 200px;
}

#leftSide:hover a {
  display: block;
}

#leftSide:hover p {
  display: none;
}

#mainSection {
  width: 100%;
  /* background-color: aqua; */
  /* margin-left: 50px;
  margin-right: 200px;
  margin-bottom: 50px; */
}

header {
  background: rgb(186, 168, 152);
  background: linear-gradient(
    /* 90deg, */ rgba(186, 168, 152, 1) 0%,
    rgba(201, 187, 174, 1) 200%
  );
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 20px;
  /* padding: 10px; */
  /* left: 50px; */
  /* padding-right: 250px; */
  z-index: 5;
}

header button {
  color: var(--p1);
  height: 50px;
  width: 150px;
  margin: 0px auto;
  box-shadow: 0 0 0 2px rgba(48, 47, 47, 0.2),
    0 3px 8px 0 rgba(89, 89, 89, 0.15);
}
main {
  margin-left: 50px;
  margin-right: 200px;
  margin-bottom: 50px;
  position: relative;
  top: 10vh;
  margin-bottom: 100px;
}

#rightSide {
  width: 200px;
  /* background-color: var(--light); */
  position: fixed;
  right: 0;
  height: 100%;
  z-index: 100;
}

footer {
  height: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding-right: 250px;
  left: 50px;
  background-color: rgb(223, 221, 219);
}

/* #UserPageInfo{
  background-color: #00ff40;
} */

#deleteBtn,
#editBtn,
#updateBtn {
  font-weight: bold;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2),
    0 3px 8px 0 rgba(255, 255, 255, 0.15);
  background: rgb(238, 224, 203);
  background: linear-gradient(
    90deg,
    rgba(238, 224, 203, 1) 0%,
    rgb(240, 228, 211) 65%
  );
  border-radius: 5px;
  color: var(--p1);
  /* padding: 10px 15px; */
  border: 0;
  font-size: 16px;
}

#deleteBtn:hover,
#deleteBtn:focus,
#editBtn:hover,
#editBtn:focus
#updateBtn:hover,
#updateBtn:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

/* ============================= login and sign up =========================== */
.loginBody {
  width: 100%;
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCard {
  border-radius: 5px;
  background-color: var(--p1);
  width: 40vmin;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupCard {
  border-radius: 5px;
  background-color: var(--p1);
  width: 40vmin;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginHeader {
  margin: 15px;
  color: var(--light);
  text-align: center;
  font-weight: bold;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  width: 100%;
}

.loginEmail,
.loginPassword,
.userName,
.loginBttn {
  margin: 8px;
}

.loginEmail,
.loginPassword,
.userName {
  width: 80%;
}

.loginBttn,
#signUpBttn,
#validateBtn,
#trackMoodBtn,
#submit-post,
header button {
  font-weight: bold;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  background: rgb(238, 224, 203);
  background: linear-gradient(
    90deg,
    rgba(238, 224, 203, 1) 0%,
    rgb(243, 232, 216) 65%
  );
  border-radius: 5px;
  color: var(--p1);
  padding: 10px 15px;
  border: 0;
  font-size: 16px;
}

#signUpCard {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.loginBttn:not(:disabled):hover,
.loginBttn:not(:disabled):focus,
#signUpBttn:not(:disabled):hover,
#signUpBttn:not(:disabled):focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

#trackMoodBtn:not(:disabled):hover,
#trackMoodBtn:not(:disabled):focus,
#validateBtn:not(:disabled):hover,
#validateBtn:not(:disabled):focus,
header button:not(:disabled):hover,
header button:not(:disabled):focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2),
    0 3px 8px 0 rgba(255, 255, 255, 0.15);
}

#validateBtn,
#trackMoodBtn,
#submit-post {
  margin: 10px;
}

.hide {
  display: none;
}

/* ============================ Error Modal ======================== */

.modal {
  display: none;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ============================= Profile =========================== */

#profileUsername,
#userInfo {
  /* background: var(--p2); */
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 1% 1% 0% 1%;
  min-height: 5vh;
  min-width: 20vw;
  border-radius: 5px;
  text-align: center;
  /* width: 90%; */
}

/* ============================= journal/posts =========================== */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1% 1% 1% 1%;
  padding: 10px;
  width: 51%;
  border-radius: 7px;
  box-shadow: 1px 1px 1px #4b433d;
  border: solid 1px;
}

.default {
  background-color: var(--p1);
  border: 1px solid var(--p1);
}

.default h3 {
  color: var(--light);
  text-shadow: 0.5px 0.5px 0.5px black;
} 

#journalRow {
  width: 90%;
}

.column {
  display: flex;
  flex-direction: column;

  flex-basis: 100%;
  flex: 1;
  align-items: flex-start;
  width: 100%;
}

.llamaColumn {
  align-items: center;
}

#title-input {
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  height: 30px;
  resize: none;
  border-color: var(--p1);
}

#new-post-form {
  width: 100%;
}

#post-input {
  border-radius: 5px;
  width: 98.6%;
  max-width: 98.6%;
  height: 10vh;
  margin: 5px;
  border-color: var(--p1);
  resize: vertical;
}

#text {
  margin: 10px 0;
  padding: 0 10px;
}

#title-input:focus,
#post-input:focus,
#login:focus,
#loginPassword:focus {
  outline: solid 1px var(--p1);
}

.allPosts,
.userPosts {
  /* border: solid 1px var(--p1); */
  /* display: flex;
  flex-direction: column; */
  padding: 10px;
  margin: 1% 1% 1% 1%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  width: 90%;
  position: relative;
}

.allPosts h2,
.userPosts h2 {
  text-align: center;
}

.post-box {
  margin: 10px 5px;
  border: var(--p1) solid 1px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(243, 232, 216, 0.677);
  box-shadow: 1px 1px 5px rgba(74, 74, 73, 0.81);
}

.post-box:hover,
.post-box:focus {
  box-shadow: 0 0 0 3px rgba(44, 43, 43, 0.2),
    0 3px 10px 0 rgba(36, 36, 36, 0.15);
  padding: 8px;
}

#title {
  font-weight: bold;
  color: var(--p1);
}

#postUsername {
  margin: 10px 0;
}

#public:after,
#anonymous:after,
#private:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

#public:checked:after,
#anonymous:checked:after,
#private:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--p2);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/* =============== Llama ===================== */

#profileLlama {
  background-color: #00ff40;
  position: relative;
}

#profileLlamaColor,
#profileLlamaHat {
  width: 50px;
  position: absolute;
  right: 5px;
}

.llamaClick:hover {
  cursor: pointer;
}

#llamaSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#llamaEdit h2 {
  text-align: center;
}

#userLlamaName {
  font-size: xx-large;
  text-align: center;
}

#llamaName,
.colorSelect,
.hatSelect {
  width: 100px;
  border-radius: 5px;
  border: 2px solid #8e8074;
}

#llamaName:focus,
.colorSelect:focus,
.hatSelect:focus {
  outline: none;
}

#llamaExtra {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 30%;
}

#submit-post {
  display: none;
}

#toEditBttn,
#submit {
  background-color: var(--light);
  border-radius: 5px;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border: 0;
  font-size: 16px;
  width: 150px;
  box-shadow: 0 0 0 2px rgba(48, 47, 47, 0.2),
    0 3px 8px 0 rgba(89, 89, 89, 0.15);
}

#toEditBttn:not(:disabled):hover,
#toEditBttn:not(:disabled):focus,
#submit:not(:disabled):hover,
#submit:not(:disabled):focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

#llamaCard {
  width: 400px;
  height: 374px;
  /* border: black solid 5px; */
  position: relative;
}

#sideLlamaCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#llamaCard img,
#sideLlamaCard img {
  position: absolute;
}

#userLlamaPage {
  display: flex;
  align-items: center;
}

#llamaEdit,
#userLlamaPage {
  display: none;
}

#userLlamaHappiness,
#sideLlamaHappiness {
  height: 12px;
  display: block;
  position: relative;
  background: var(--p1);
  padding: 1px;
}

#sideLlamaHappiness {
  position: absolute;
  bottom: 10;
}

progress.green::-webkit-progress-value {
  background: #00ff40;
}

progress.light-green::-webkit-progress-value {
  background: #73ff00;
}

progress.yellow::-webkit-progress-value {
  background: #fbff00;
}

progress.orange::-webkit-progress-value {
  background: #ff7b00;
}

progress.red::-webkit-progress-value {
  background: #ff3300;
}

progress::-webkit-progress-bar {
  background: white;
}

#sideLlamaCard img {
  width: 200px;
  bottom: 25;
}

/* =================== Speech Bubble =============================== */

.bubble {
  position: absolute;
  background: #eeeee8;
  border: 1px solid var(--p1);
  max-width: 250px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  border-radius: 5px;
  bottom: 220px;
}

.bubble:after,
.bubble:before {
  right: 30%;
  top: 100%;
  transform: rotate(45deg);
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.bubble:after {
  border-color: rgba(255, 255, 204, 0);
  border-right-color: #eeeee8;
  border-width: 15px;
  margin-top: -15px;
}
.bubble:before {
  border-color: rgba(255, 204, 0, 0);
  border-right-color: var(--p1);
  border-width: 16px;
  margin-top: -16px;
}

/* ====================================================================== */
#title-input,
#privacySelect {
  width: 35vw;
  margin: 5px;
}

#privacySelect {
  background-color: white;
  height: 50%;
}

/* Mood Wheel */
#moodWheel {
  margin: auto;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 41.5vw;
  width: 41.1vw;
  background-color: var(--p1);
  border-radius: 50%;
  z-index: 100;
  align-self: center;
}

#innerWheel {
  height: 50%;
  width: 50%;
  margin: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.moodMiddle {
  position: absolute;
  font-size: 3vw;
  border-radius: 50%;
  z-index: 20;
  cursor: pointer;
}

#Border {
  height: 100%;
  width: 100%;
  border: var(--light) 20px solid;
  border-radius: 50%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

#center {
  height: 60%;
  width: 60%;
  background-color: var(--light);
  border-radius: 50%;
}

#backgroundCover {
  height: 100vh;
  width: 100vw;
  z-index: 18;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 50%;
}

#tired {
  top: -40%;
}

#happy {
  top: -32%;
  right: 5%;
}

#annoyed {
  top: -32%;
  left: 5%;
}

#calm {
  top: -15%;
  right: -20%;
}

#sad {
  top: -15%;
  left: -20%;
}

#embarrassed {
  top: 8%;
  right: -35%;
}

#bored {
  top: 8%;
  left: -35%;
}

#disappointed {
  top: 35%;
  right: -40%;
}

#angry {
  bottom: -40%;
}

#frustrated {
  bottom: -32%;
  right: 5%;
}

#flirty {
  bottom: -32%;
  left: 5%;
}

#anxious {
  bottom: -15%;
  right: -20%;
}

#silly {
  bottom: -15%;
  left: -20%;
}

#scared {
  bottom: 12%;
  right: -35%;
}

#mischievous {
  bottom: 12%;
  left: -35%;
}

#shocked {
  top: 35%;
  left: -40%;
}

#colorWheel {
  height: 20%;
  width: 20%;
  position: absolute;
  top: -45%;
  left: 30%;
  z-index: 19;
  -webkit-transform-origin: 50px 250px;
  -moz-transform-origin: 50px 250px;
  -ms-transform-origin: 50px 250px;
  -o-transform-origin: 50px 250px;
  transform-origin: 50px 250px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
#colorWheel span {
  position: absolute;
  border-style: solid;
  /* border-width: 28vh 5.6vh; */
  border-width: 20vw 4vw;
  box-sizing: border-box;
}

#colorWheel span.color01 {
  opacity: 30%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  border-color: #49adb4 transparent transparent transparent;
}

.tired{
  background-color: #49adb49d;
  border: 1px solid #49adb4;
  color: var(--p1);
}

#colorWheel span.color02 {
  opacity: 30%;
  -webkit-transform: rotate(22.5deg);
  -moz-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
  -o-transform: rotate(22.5deg);
  transform: rotate(22.5deg);
  border-color: #479b79 transparent transparent transparent;
}

.happy{
  background-color: #3b9e4fb0;
  border: 1px solid #479b79;
}

.happy h3{
  color: var(--light);
}

#colorWheel span.color03 {
  opacity: 30%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-color: #47c14d transparent transparent transparent;
}

.calm{
  background-color: #6ead71d0;
  border: 1px solid #47c14d;
  color: var(--p1);
}

#colorWheel span.color04 {
  opacity: 30%;
  -webkit-transform: rotate(67.5deg);
  -moz-transform: rotate(67.5deg);
  -ms-transform: rotate(67.5deg);
  -o-transform: rotate(67.5deg);
  transform: rotate(67.5deg);
  border-color: #a5e23b transparent transparent transparent;
}

.embarrassed{
  background-color: #759c31b4;
  border: 1px solid #90c03f;
  color: var(--p1);
}

#colorWheel span.color05 {
  opacity: 30%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  border-color: #e1f71e transparent transparent transparent;
}

.disappointed{
  background-color: #b8c44dc9;
  border: 1px solid #e1f71e;
}

#colorWheel span.color06 {
  opacity: 30%;
  -webkit-transform: rotate(112.5deg);
  -moz-transform: rotate(112.5deg);
  -ms-transform: rotate(112.5deg);
  -o-transform: rotate(112.5deg);
  transform: rotate(112.5deg);
  border-color: #baa72e transparent transparent transparent;
}

.scared{
  background-color: #baa72e89;
  border: 1px solid #baa72e;
  color: var(--p1);
}

#colorWheel span.color07 {
  opacity: 30%;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  border-color: #9a621d transparent transparent transparent;
}

.anxious{
  background-color: #9a621d6a;
  border: 1px solid #9a621d;
  color: var(--p1);
}

#colorWheel span.color08 {
  opacity: 30%;
  -webkit-transform: rotate(157.5deg);
  -moz-transform: rotate(157.5deg);
  -ms-transform: rotate(157.5deg);
  -o-transform: rotate(157.5deg);
  transform: rotate(157.5deg);
  border-color: #6c422a transparent transparent transparent;
}

.frustrated{
  background-color: #6c422aab;
  border: 1px solid #6c422a;
}

.frustrated h3{
  color: var(--light);
}

#colorWheel span.color09 {
  opacity: 30%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  border-color: #8e1d1d transparent transparent transparent;
}

.angry{
  background-color: #8e1d1dcd;
  border: 1px solid #8e1d1d;
}

.angry h3{
  color: var(--light);
}

#colorWheel span.color10 {
  opacity: 30%;
  -webkit-transform: rotate(202.5deg);
  -moz-transform: rotate(202.5deg);
  -ms-transform: rotate(202.5deg);
  -o-transform: rotate(202.5deg);
  transform: rotate(202.5deg);
  border-color: #a24676 transparent transparent transparent;
}

.flirty{
  background-color: #a2467584;
  border: 1px solid #a24676;
}

.flirty h3{
  color: var(--light);
}


#colorWheel span.color11 {
  opacity: 30%;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  border-color: #9f2d7b transparent transparent transparent;
}

.silly{
  background-color: #883c70cd;
  border: 1px solid #9f2d7b;
}

.silly h3{
  color: var(--light);
}

#colorWheel span.color12 {
  opacity: 30%;
  -webkit-transform: rotate(247.5deg);
  -moz-transform: rotate(247.5deg);
  -ms-transform: rotate(247.5deg);
  -o-transform: rotate(247.5deg);
  transform: rotate(247.5deg);
  border-color: #842d9f transparent transparent transparent;
}

.mischievous{
  background-color: #664072e3;
  border: 1px solid #842d9f;
}

.mischievous h3 {
  color: var(--light);
}

#colorWheel span.color13 {
  opacity: 30%;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  border-color: #622d9f transparent transparent transparent;
}

.shocked{
  background-color: #6e528dbc;
  border: 1px solid #622d9f;
}

.shocked h3{
  color: var(--light);
}

#colorWheel span.color14 {
  opacity: 30%;
  -webkit-transform: rotate(292.5deg);
  -moz-transform: rotate(292.5deg);
  -ms-transform: rotate(292.5deg);
  -o-transform: rotate(292.5deg);
  transform: rotate(292.5deg);
  border-color: #3c236f transparent transparent transparent;
}

.bored{
  background-color: #3c236fdf;
  border: 1px solid #3c236f;
}

.bored h3{
  color: var(--light);
}

#colorWheel span.color15 {
  opacity: 30%;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  border-color: #2d5b9f transparent transparent transparent;
}

.sad{
  background-color: #2d5b9fc6;
  border: 1px solid #2d5b9f;
}

.sad h3 {
  color: var(--light);
}

#colorWheel span.color16 {
  opacity: 30%;
  -webkit-transform: rotate(337.5deg);
  -moz-transform: rotate(337.5deg);
  -ms-transform: rotate(337.5deg);
  -o-transform: rotate(337.5deg);
  transform: rotate(337.5deg);
  border-color: #2d709f transparent transparent transparent;
}

.annoyed{
  background-color: #2d709f68;
  border: 1px solid #2d709f;
}

#validateBtn {
  display: none;
}

#privacySelect {
  display: none;
}

/* ================================================== */
/* Mood charts */
#orderData,
#orderLabel {
  position: relative;
  left: 50px;
}

#allCharts {
  width: 100%;
  opacity: 80%;
}

#pieChart {
  margin-top: 10px;
  margin-bottom: 50px;
  margin: auto;
  padding: 0;
  width: 100%;
}

#userPageUsername,
#userPageCurrentMood {
  color: var(--light);
  text-align: center;
}

/* ================================================== */
@media screen and (max-width: 1050px) {
  #moodWheel {
    height: 80vw;
    width: 80vw;
    align-self: center;
  }
  #colorWheel span {
    border-width: 38.5vw 7.7vw;
  }
  .moodMiddle {
    font-size: 5.5vw;
  }
}

@media screen and (max-width: 750px) {
  #baseSection {
    flex-direction: column;
  }
  header {
    height: 50px;
    left: 0px;
    padding-right: 30vw;
  }
  .loginBttn,
  #signUpBttn,
  #validateBtn,
  #trackMoodBtn,
  #submit-post,
  header button {
    padding: 0;
    font-size: 9px;
    height: 25px;
    width: 60px;
  }

  .row {
    margin: 1% 1% 1% 1%;
    padding: 10px;
    width: 100%;
  }

  #leftSide {
    flex-direction: row;
    position: fixed;
    height: 30px;
    width: 100%;
    top: 50px;
    padding: 5%;
    justify-content: space-evenly;
  }
  #leftSide a {
    font-size: 12px;
    margin: auto;
    display: none;
  }

  #leftSide p {
    position: fixed;
    top: 45px;
    width: 40px;
    left: 0;
    font-size: 30px;
  }

  #leftSide a:hover {
    font-size: 15px;
  }

  #leftSide:hover {
    width: 100%;
    height: 50px;
  }

  main {
    margin: 10px;
    top: 80px;
  }

  footer {
    bottom: 0;
    padding-right: 0px;
    left: 0px;
    font-size: 8px;
  }

  #sideLlamaCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sideLlamaCard img {
    width: 150px;
    bottom: 40px;
    right: -25px;
  }
  #sideLlamaHappiness {
    bottom: 30px;
    width: 20vw;
    height: 1vh;
    right: 20px;
  }
  /* .svg-container{
    width: 500px;
  } */
  #rightSide {
    width: 100%;
    bottom: 0;
    height: 20%;
  }
  .bubble {
    max-width: 60vw;
    margin: 0px;
    font-size: 10px;
    bottom: 50px;
    left: 20px;
  }
  .bubble:after,
  .bubble:before {
    left: 100%;
    top: 50%;
    transform: rotate(180deg);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .bubble:after {
    border-color: rgba(255, 255, 204, 0);
    border-right-color: #eeeee8;
    border-width: 15px;
    margin-top: -15px;
  }
  .bubble:before {
    border-color: rgba(255, 204, 0, 0);
    border-right-color: var(--p1);
    border-width: 16px;
    margin-top: -16px;
  }

  #pieChart {
    margin-top: 10px;
    padding: 0;
  }
  /*
#allCharts {
  width: 100%;
} */
}
