:root {
  --light: #EEE0CB;
  --p1: #BAA898;
  --p2: #839788;
}

* {
  box-sizing: border-box;
  margin: 0%;
  font-family: "Segoe UI", sans-serif
}

a {
  text-decoration: none;
  color: black;
}

body{
  display: flex;
  flex-wrap: wrap;
}

#baseSection{
  width: 100%;
  display: flex;
  background-color: aqua;
  justify-content: space-between;
}

#leftSide{
  display: flex;
  flex-direction: column;
  width: 50px;
  background-color: antiquewhite;
  padding-top: 10vh;
  position: fixed;
  height: 100%;
  z-index: 10;
}

#leftSide a {
  font-size: 20px;
  margin: 20px 30px;
  display: none;
}

#leftSide p {
  position: fixed;
  top: 0;
  width: 50px;
  font-size: 50px;
  text-align: center;
}

#leftSide:hover{
  width: 200px;
}

#leftSide:hover a{
  display: block;
}

#leftSide:hover p{
  display: none;
}

#mainSection {
  width: 100%;
  background-color: aqua;
  margin-left: 50px;
  margin-right: 200px;
}

header{
  background-color: #bfd7ea;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 50px;
  padding-right: 250px;
}

header button {
  height: 50px;
  width: 120px;
}

main{
  background-color: black;
}

#rightSide{
  width: 200px;
  background-color: #839788;
  position: fixed;
  right: 0;
  height: 100%;
  z-index: 10;
}

footer{
  height: 5vh;
  display: flex;
  background-color: aqua;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding-right: 250px;
  left: 50px;
}

.loginBody {
  width: 100%;
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCard {
  border-radius: 8px;
  background-color: var(--p2);
  width: 40vmin;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupCard {
  border-radius: 8px;
  background-color: var(--p2);
  width: 40vmin;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginHeader {
  margin: 15px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  width: 100%;
}

.loginEmail,
.loginPassword,
.userName,
.loginBttn {
  margin: 8px;
}

.loginEmail,
.loginPassword,
.userName {
  width: 80%;
}

.loginBttn,
#signUpBttn {
  background-color: var(--light);
  border-radius: 12px;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border: 0;
  font-size: 16px;
}

#signUpCard {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.loginBttn:not(:disabled):hover,
.loginBttn:not(:disabled):focus,
#signUpBttn:not(:disabled):hover,
#signUpBttn:not(:disabled):focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.hide {
  display: none;
}

/* feli's CSS */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

main {
  position: relative;
  top: 10vh;
}

.journal {
  background: forestgreen;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 3% 3% 0% 3%;
  min-height: 15vh;
  border-radius: 20px;
  top: 0;
}

#post-input {
  border-radius: 10px;
  width: 100%;
  height: 5vh;
  resize: none;
}

.allPosts {
  background: forestgreen;
  /* display: flex;
  flex-direction: column; */
  padding: 10px;
  margin: 3% 3% 3% 3%;
  height: 100%;
  border-radius: 20px;
  top: 0;
}

.allPosts h2 {
  text-align: center;
}